/*
Colors used:
Primary Color (White Beige): #EFE7DA;
Secondary Color (Vanilla Latte): #B5A291;
Text Color (Charcoal): #524F4A;
Button Color (Brandy Rose): #B3907A;
Detail Color (Dusty Sage): #A6A998;
*/
* {
  box-sizing: border-box;
}
body {
  font-family: 'Baskervville', serif;
  background-color: #ffffff;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #524F4A;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

/* hyperlink details */

a {
  color: #0071A5;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #15006b;
}

a:hover,
a:focus {
  color: #524F4A;
  text-decoration: underline;
}
  a:active {
    /* selected link */
    color: #25a734;
  }

.button {
  display: inline-block;
  background-color: #B3907A;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #524F4A;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  /* selected link */
  color: #25a734;
}

.button.contact {
  background-color: #B3907A;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #524F4A;
}
.button.contact:hover {
  background-color: transparent;
  color: #B3907A;
}
header {
  background-color: #EFE7DA;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  text-align: center;
  .css-box-shadow{
    /*start ------------*/
    width: [object Object]px; 
    height: [object Object]px; 
    background: #F8F8F8; 
    border: solid #BDBDBD 0; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7)  ; 
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7)  ; 
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7)  ; 
  }
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
.logo {
  max-width: 250px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 10px;
  font-weight: 700;
  color: #4a4a4a;
}
nav > ul > li > a:visited {
  color:#15006b;
}
nav > ul > li > a:hover a:focus {
    color: #524F4A;
    text-decoration: underline;
}

nav > ul > li > a:active {
  /* selected link */
  color: #25a734;
}
#hero {
  background-color: #EFE7DA;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#hero span {
  display: block;
}
main {
  padding-top: 325px;
  width: 100%;
}
@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}


@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  main {
    padding-top: 250px;
    width: 100%;
  }
  body {
    font-size: 18px;
  }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
    padding: 0 10px;

    width: 100%;
max-width: 100%;
height: auto;
  }
  #about-page h3 { margin-top: 0;}
}
@media only screen and (min-width: 1024px) {
 
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  main {
    padding-top: 250px;
    width: 100%;
  }
  body {
    font-size: 18px;
  }
  .col-lg-7 {
    width: 60%;
  }
  .col-lg-5 {
    width: 40%;
  }
  [class*="col-"] {
    float: left;
    padding: 0 10px;

    width: 100%;
max-width: 100%;
height: auto;
  }
  #about-page h3 { margin-top: 0;}

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    width: 100%;
max-width: 100%;
height: auto;
  }
}
